@page
@model UnitTestDemo.Pages.OperationsModel
@{
    ViewData["Title"] = "Operations";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stu's amazing calculator</h1>

    <h1>Add two numbers and pick an operation</h1>
    <form method="post">
        <label asp-for="Num1"></label> <input type="number" asp-for="Num1" /><br>
        <label asp-for="Num2"></label> <input type="number" asp-for="Num2" /><br>
        <select asp-for="Operation">
            <option value="Add">Add</option>
            <option value="Subtract">Subtract</option>
            <option value="Divide">Divide</option>
            <option value="Multiply">Multiply</option>
            <option value="Modulus">Modulus</option>
        </select>
        <input type="submit" value="submit" />
    </form>


    <h1>Result</h1>
    <p><label asp-for="Result">@Model.Num1 @Model.Operation @Model.Num2 = @Model.Result</label> <br></p>


</div>
